@import url("//at.alicdn.com/t/c/font_3975656_xoymwgjztyg.css");

@import url(@unocss/reset/tailwind.css);
@import url(@unocss/reset/tailwind-compat.css);


@font-face {  
    font-family: candyshop;  
    src: url('/fonts/Candyshop.otf');
  }

:root {
  --hue: 359deg;
  --satura: 77%;
  --light: 90%;
  --title-color: hsl(var(--hue) var(--satura) 77%);
  --star-color: hsl(var(--hue) var(--satura) 90%);
  --star-shadow-out: hsl(var(--hue) var(--satura) var(--light) / 70%);
  --star-shadow-in: hsl(var(--hue) var(--satura) var(--light) / 70%);
  --sun-color: hsl(var(--hue) var(--satura) var(--light) / 70%);
  --flow-color: hsl(var(--hue) var(--satura) var(--light) / 70%);
  --title-shadow: 0 0 1rem var(--star-shadow-in);
  --brand: hsl(var(--hue) var(--satura) 77%);
  --theme-color: #ff9800;
  /* --color-rgb: 238 77 80;
  --color-sub-rgb: 251 145 104; */
  --color-rgb: 114 114 112;
  --color-sub-rgb: 122 82 244;
  --color: rgb(var(--color-rgb));
  --color-sub: rgb(var(--color-sub-rgb));
  /* 默认颜色 */
  --color-default: rgb(26 26 26);
  /* 默认浅色 */
  --color-default-sub: rgb(94 94 92);
  /* 默认颜色 */
  --color-dark-default: rgb(255 255 255);
  /* 默认浅色 */
  --color-dark-default-sub: rgb(128 128 128);
  --font-color-hsl: 0deg 0% 10%;
  --font-color-alpha: 100%;

  --header-height: 466px;
}

body {
  /* color: hsl(var(--font-color-hsl) / 0.5); */
  /* color: hsl(var(--font-color-hsl) / var(--font-color-alpha)); */
  color: var(--color-default);
  text-shadow: none;
  font-size: 1rem;
}

:where(.header-area) a {
  transition: 0.6s;
  color: var(--color-default-sub);
}

:where(.header-area) a {
  transition: 0.6s;
  color: var(--color-default-sub);
}

:where(.header-area) a:hover {
  color: var(--color-default);
}

:where(.content-container) a {
  transition: 0.6s;
  cursor: pointer;
  outline: 0;
  background: linear-gradient(
      90deg,
      rgb(var(--color-rgb) / 50%),
      rgb(var(--color-sub-rgb) / 50%)
    )
    no-repeat left 100% / 0 1px;
}

/* :where(.content-container) a:hover {
  background: linear-gradient(
      90deg,
      rgb(var(--color-rgb) / 50%),
      rgb(var(--color-sub-rgb) / 50%)
    )
    no-repeat left 100% / 100% 1px;
  color: rgb(var(--color-rgb) / 80%);
} */

button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button; /* 1 */
  background-color: transparent; /* 2 */
  background-image: none; /* 2 */
}

button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button; /* 1 */
  /*background-color: transparent; !* 2 *!*/
  background-image: none; /* 2 */
}

.header-container{
    height: var(--header-height);
}

footer{
    position: relative;
}

.footer-img{
    position: relative;
    display: block;
    z-index: 999;
    width: 100%;
   /* margin-top: ; */
}

.site-description{
    color: #97dffd;
    text-shadow: 0 0 3px #fff, 0 0 3px #fff, 0 0 3px #fff, 0 0 3px #fff, 0 0 3px #fff, 0 0 3px #fff, 0 0 3px #fff, 0 0 3px #fff, 0 0 3px #fff, 0 0 3px #fff, 0 0 3px #fff, 0 0 3px #fff, 0 0 3px #fff, 0 0 3px #fff, 0 0 3px #fff, 0 0 3px #fff, 0 0 3px #fff, 0 0 3px #fff, 0 0 3px #fff, 0 0 3px #fff, 0 0 3px #fff, 0 0 3px #fff, 0 0 3px #fff, 0 0 3px #fff, 0 0 3px #fff, 0 0 3px #fff, 0 0 3px #fff, 0 0 3px #fff, 0 0 3px #fff, 0 0 3px #fff, 0 0 3px #fff, 0 0 3px #fff, 0 0 3px #fff, 0 0 3px #fff, 0 0 3px #fff, 0 0 3px #fff, 0 0 3px #fff, 0 0 3px #fff, 0 0 3px #fff, 0 0 3px #fff, 0 0 3px #fff, 0 0 3px #fff, 0 0 3px #fff, 0 0 3px #fff, 0 0 3px #fff, 0 0 3px #fff, 0 0 3px #fff;
}


/* footer::before{
    content: " ";
    display: block;
    position: absolute;

} */
